<%= form_with(url: create_comment_path, method: :post, class: "my-3") do |form| %>
  <div class="field">
    <%= form.hidden_field :post_id, value: post_id %>
    <div class="control">
      <%= form.text_area :content, id: "content", class: "textarea", required: true %>
    </div>
  </div>
  <div class="field">
    <div class="control has-text-right">
      <%= form.submit "Dodaj komentarz", class: "button is-primary" %>
    </div>
  </div>
<% end %>
