<%= turbo_frame_tag 'New_post' do %>
  <%= form_tag create_post_path, method: :post, class: "has-background-black-ter box is-rounded is-standard-width" do %>
    <div class="field">
      <div class="control">
        <%= text_field_tag :title, nil, placeholder: "Wprowadź tytuł", class: "input is-medium" %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= text_area_tag :content, nil, placeholder: "Wprowadź treść", class: "textarea is-medium" %>
      </div>
    </div>

    <div class="control">
      <%= text_field_tag :tags, nil, id: "tags", placeholder: "Wprowadź tagi (opcjonalne, odziel spacją)", class: "input is-medium" %>
    </div>

    <% unless @error_message.nil? %>
      <div class="has-text-centered my-4 has-text-danger"><%= @error_message %></div>
    <% end %>

    <div class="field mt-3">
      <div class="control has-text-right">
        <%= submit_tag "Dodaj post", class: "button is-primary is-fullwidth is-medium" %>
      </div>
    </div>
  <% end %>
<% end %>