<div class="mb-3 columns m-0 p-0" style="width:100%; height: 50px;">
    <div class="column is-narrow p-0 m-0 is-flex is-align-items-center">
        <% if avatar_url.nil? %>
            <span class="icon mx-3">
                <i class="fas fa-user" style="font-size: 50px;"></i>
            </span>
        <% else %>
            <img src="<%= avatar_url %>"
                alt="Avatar"
                style= "width: 50px; height: 50px; border-radius: 50%; object-fit: cover; object-position: center;" />
        <% end %>
    </div>

    <div class="column columns m-0 p-0 ml-3 is-flex is-flex-direction-column">
        <div class="column m-0 p-0 is-flex">
            <span>Dodano przez:</span>
            <%= link_to user_profile_path(login) do %>
                <span class="ml-1"><%= login %></span>
            <% end %>
        </div>
        <span class="column m-0 p-0"><%= created_at.strftime("%d.%m.%Y - %H:%M") %></span>
    </div>
</div>
