<div class="has-background-grey-darker py-3 box is-rounded has-text-white">
    <%= render partial: "forum/author_info", locals: { login: comment_dto.user_login, created_at: comment_dto.created_at, avatar_url: comment_dto.avatar_url } %>
    <p class="is-size-5 pr-5" style="max-height: 480px; overflow-y: auto;">
        <%= comment_dto.content %>
    </p>

    <div class="is-align-items-center is-justify-content-flex-end is-flex m-0 p-0 mt-3">
        <span class="icon-text">
            <%= form_with(url: toggle_comment_like_path, method: :post) do |form| %>
                <%= form.hidden_field :comment_id, value: comment_dto.id %>
                <% if @is_logged %>
                    <%= form.button class: "icon fa-regular has-text-info-40 is-size-4", type: "submit" do %>
                        <i class="fas fa-thumbs-up is-5" style="cursor: pointer;"></i>
                    <% end %>
                <% else %>
                    <%= form.button class: "icon fa-regular has-text-info-40 is-size-4", type: "submit", disabled: true do %>
                        <i class="fas fa-thumbs-up is-5"></i>
                    <% end %>
                <% end %>
            <% end %>
            <span class="ml-1"><%=comment_dto.likes%></span>
        </span>
    </div>
</div>