<%
  @is_previous_disabled = @page == 0
  @is_next_disabled = @posts_dto.count < $MAX_POSTS_PER_PAGE
%>

<%= form_with(url: search_by_page_path, method: :post, class: "m-0 p-0 has-text-centered is-flex is-align-items-center is-justify-content-center") do |form| %>
  <%= form.hidden_field :tags, value: @tags %>
  <%= form.button class: "button is-primary is-medium mr-5", type: "submit", name: "page", value: @page - 1, disabled: @is_previous_disabled do %>
    Poprzednia strona
  <% end %>

  <span class="is-size-3 has-text-white m-0 p-0"><%= @page %></span>

  <%= form.button class: "button is-primary is-medium ml-5", type: "submit", name: "page", value: @page + 1, disabled: @is_next_disabled do %>
    Następna strona
  <% end %>
<% end %>
