<div class="has-background-black-ter box is-rounded my-3">
    <%= render partial: "forum/author_info", locals: { login: post_dto.user_login, created_at: post_dto.created_at, avatar_url: post_dto.avatar_url } %>

    <div class="pr-5" style="max-height: 480px; overflow-y: auto;">
		<p class="is-size-4 has-text-white"><%= post_dto.title %></p>
		<p class="is-size-5"><%= post_dto.content %></p>
	</div>

     <% if @is_logged %>
        <%= render partial: "forum/add_comment", locals: { post_id: post_dto.id } %>
     <% end %>

    <% if post_dto.comments.count > 0 %>
        <div class="my-3 pr-3" style="max-height: 480px; overflow-y: auto">
            <% post_dto.comments.each do |comment_dto| %>
                <%= render partial: "comment", locals: { comment_dto: comment_dto, is_logged: @is_logged } %>
            <% end %>
        </div>
    <% end %>

    <div class="columns mt-1">
        <div class="column mr-3 is-flex">
            <% post_dto.tags.each do |tag| %>
                <%= render partial: "tag", locals: { tag: tag } %>
            <% end %>
        </div>

        <div class="column is-narrow is-flex is-align-items-end ml-3">
            <%= render partial: "toggle_post_like",
            locals: { post_id: post_dto.id, likes: post_dto.likes } %>
            

            <span class="icon-text ml-5">
				<span class="icon fa-regular has-text-info-40 is-size-4"><i class="fas fa-comment" style="cursor: pointer;"></i></span>
				<span class="ml-1"><%= post_dto.comments.count %></span>
			</span>
        </div>
    </div>
</div>