<%= form_with(url: search_by_tags_path, method: :post, class: "is-flex") do |form| %>
  <div class="field">
    <div class="control">
      <%= text_field_tag :tags, nil, placeholder: "Wprowadź tagi (po spacji)", class: "input is-medium m-0", value: @tags %>
    </div>
  </div>

  <div class="field ml-3">
    <div class="control">
      <%= form.button class: "button is-primary is-fullwidth is-medium", type: "submit", name: "choice", value: "0" do %>
        Wyszukaj
      <% end %>
    </div>
  </div>

  <div class="field ml-3">
    <div class="control">
      <%= form.button class: "button is-primary is-fullwidth is-medium", type: "submit", name: "choice", value: "1" do %>
        Wyczyść
      <% end %>
    </div>
  </div>
<% end %>