<%= form_with(url: search_by_tags_path, method: :post, class: "is-flex") do |form| %>
    <%= form.hidden_field :tags, value: tag.name %>
    <%= form.button class: "has-text-link mr-1", type: "submit", name: "choice", value: "0" do %>
        #<%= tag.name %>
    <% end %>    
<% end %>