<%= turbo_frame_tag 'Toggle_post_like' do %>
    <% @is_logged = session[:user].present? %>
    <%= form_with(url: toggle_post_like_path, method: :post, class: "icon-text") do |form| %>
        <%= form.hidden_field :post_id, value: post_id %>
        <% if @is_logged %>
            <%= form.button class: "icon fa-regular has-text-info-40 is-size-4", type: "submit" do %>
                <i class="fas fa-thumbs-up is-5" style="cursor: pointer;"></i>
            <% end %>
        <% else %>
            <%= form.button class: "icon fa-regular has-text-info-40 is-size-4", type: "submit", disabled: true do %>
                <i class="fas fa-thumbs-up is-5"></i>
            <% end %>
        <% end %>
    <% end %>
    <span class="ml-2"><%= likes %></span>
<% end %>