<% @is_logged = session[:user].present? %>

<div class="columns is-flex is-flex-direction-column is-align-items-center p-3" style="width: 100%; height: 100%">
    <div class="column is-narrow p-0 m-0 is-flex is-justify-content-flex-end" style="width: 100%">
        <%= render partial: "forum/search_post" %>
    </div>

     <% if @is_logged && @page == 0 %>
        <%= turbo_frame_tag 'New_post' do %>
            <div class="column is-narrow p-0 m-0">
                <%= render "add_post" %>
            </div>
        <% end %>  
     <% end %>

    <%= turbo_frame_tag 'Posts' do %>
        <div class="column p-0 m-0 is-standard-width">
            <% @posts_dto.each do |post_dto| %>
                <%= render "post", post_dto: post_dto, is_logged: @is_logged %>
            <% end %>
        </div>
    <% end %>

     <div class="column is-narrow">
        <%= render partial: "forum/page_navigation" %>
     </div>
</div>