<div style="width: 100%; height: 100%; cursor: <%= is_my_account ? 'pointer' : 'auto' %>; overflow: hidden;" id="avatarContainer">
  <% if avatar_url.present? %>
    <img src="<%= avatar_url %>"
      alt="Avatar"
      style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover; object-position: center;" />
  <% else %>
    <span class="icon" style="width: 100%; height: 100%;">
      <i class="fas fa-user p-3" style="font-size: 200px;"></i>
    </span>
  <% end %>
</div>

<form id="changeAvatarForm" method="post" enctype="multipart/form-data" style="display: none;">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="file" id="avatarInput" name="avatar" accept="image/*">
</form>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        let avatarInput = document.getElementById("avatarInput");
        if (avatarInput !== null)
        {
            document.getElementById("avatarContainer").addEventListener("click", function () {
                avatarInput.click();
            });

            avatarInput.addEventListener("change", function (event) {
                var file = event.target.files[0];
                var formData = new FormData();
                formData.append("avatar", file);
                var csrfToken = document.querySelector('meta[name="csrf-token"]').content;

                fetch("/user/changeAvatar", {
                method: "POST",
                headers: {
                    "X-CSRF-Token": csrfToken
                },
                body: formData,
                })
                .then((response) => {
                    if (response.ok) {
                      location.reload();
                    } else {
                      alert("Wystąpił błąd podczas zmiany awatara.");
                    }
                })  
                .catch((error) => {
                    alert("Wystąpił błąd podczas wysyłania danych.");
                });
            });
        }
    });
</script>