<div id="descriptionContainer" class="column columns p-0 m-0"
	 style="width: 100%; cursor: <%= is_my_account ? "pointer" : "auto" %>;">

    <script>
        const container = document.getElementById("descriptionContainer");
        let description = `<%= description %>`.trim();
        let isMyAccount = `<%= is_my_account %>`;

        function initText() {
            const text = (description !== "") ? description : (isMyAccount === true ? "Kliknij, by edytować opis." : "Brak opisu.");
            container.innerHTML =
                container.innerHTML = `
            <div class="px-5 py-0 my-3 is-flex column" style="width: 100%; height: 100%;">
                <span id="textContainer"
                    style="overflow-y: auto; max-height: 125px;">${text}
                </span>
            </div>`

            if (isMyAccount) {
                const textContainer = document.getElementById("textContainer")
                textContainer.addEventListener('click', () => {
                    initInput();
                });
            }
        }

        function initInput() {
            container.innerHTML = `
            <div class="px-5 py-0 my-3 is-flex columns column" style="width: 100%;">
                <textarea id="descriptionInput"
                    class="textarea" style="width: 100%; background-color: rgba(0, 0, 0, 0);" autofocus>${description}
                </textarea>

                <div class="column is-narrow columns is-flex is-flex-direction-column m-0 mx-2 p-0">
                    <button onclick="confirmBtn_onClick()" class="column button">Potwierdź</button>
                    <button onclick="rejectBtn_onClick()" class="column button">Odrzuć</button>
                </div>
            </div>`;
        }

        async function rejectBtn_onClick() {
            initText();
        }

        async function confirmBtn_onClick() {
            const newDescription = document.getElementById("descriptionInput").value.trim();

            const formData = new FormData();
            formData.append('description', newDescription);

            try {
                var csrfToken = document.querySelector('meta[name="csrf-token"]').content;
                const response = await fetch('/user/changeDescription', {
                    method: 'POST',
                    headers: {
                        "X-CSRF-Token": csrfToken
                    },
                    body: formData
                });

                if (response.ok) {
                    description = newDescription;
                    initText();
                } else {
                    console.error('Wystąpił błąd podczas aktualizacji opisu użytkownika.');
                }
            } catch (error) {
                console.error('Wystąpił błąd podczas wysyłania danych:', error);
            }
        }

        initText();
    </script>
</div>
