<div class="columns is-flex is-flex-direction-column p-3 m-0" style="height: 100%; width: 960px; overflow-y: auto;">
  <% if @profile.present? %>
    <% @is_logged = session[:user].present? %>
    <% if @is_logged %>
        <% @is_my_account = @profile.login == session[:user]['login'] && @profile.login == params[:login] %>
    <% else %>
        <% @is_my_account = false %>
    <% end %>
    <div class="columns is-flex is-flex-direction-column column is-narrow" style="height: 100%; width: 960px;">
      <div class="columns p-0 m-0 is-flex is-align-items-center" style="height: 200px;">
        <div class="column p-0 m-0 is-narrow" style="height: 100%; width: 200px;">
          <%= render partial: "user/profile_avatar", locals: { avatar_url: @profile.avatar_url, is_my_account: @is_my_account } %>
        </div>

        <div class="column p-0 m-0 is-flex is-justify-content-flex-start is-flex-direction-column is-align-items-center columns" style="height: 100%;">
          <span class="column is-narrow p-0">
            <span class="is-size-3"><%= @profile.login %></span>
          </span>

        <div class="column is-narrow py-0 px-6 is-flex is-justify-content-space-between is-size-4" style="width: 100%;">
          <span class="icon-text">
            <i class="icon fa-regular has-text-info-40 is-flex is-align-items-center">
              <i class="fas fa-comments"></i>
            </i>
            <span class="ml-3"><%= @profile.posts_count %></span>
          </span>

          <span class="icon-text">
            <i class="icon fa-regular has-text-info-40 is-flex is-align-items-center">
              <i class="fas fa-comment"></i>
            </i>
            <span class="ml-3"><%= @profile.comments_count %></span>
          </span>

          <span class="icon-text">
            <i class="icon fa-regular has-text-info-40 is-flex is-align-items-center">
              <i class="fas fa-thumbs-up"></i>
            </i>
            <span class="ml-3"><%= @profile.likes_count %></span>
          </span>
        </div>
        <%= render partial: "user/profile_description", locals: { description: @profile.description, is_my_account: @is_my_account } %>
      </div>
    </div>

    <div class="column columns" style="width: 100%; height: 100%">
      <div class="column is-narrow" style="width: 200px;">
        <% if @is_logged && !@is_my_account %>
          <%= form_with(url: toggle_friend_path, method: :post) do |form| %>
            <%= form.hidden_field :login, value: params[:login] %>
            <%= form.button class: "button", type: "submit" do %>
              <%= @profile.is_my_friend ? "Usuń ze znajomych" : "Dodaj do znajomych" %>
            <% end %> 
          <% end %>
        <% end %>
      </div>

      <div class="column">
        <% if @is_my_account %>
          <% if @profile.friends.present? %>
            <p class="is-size-3">Lista znajomych</p>
              <div class="columns is-flex-direction-column">
                <% @profile.friends.each do |friend| %>
                  <div class="column p-0 m-0 is-size-4 columns">
                    <%= link_to user_profile_path(friend.login), class: "column" do %>
                        <%= friend.login %>
                    <% end %>
                    <%= form_with(url: toggle_friend_path, method: :post, class: "column is-flex is-align-items-center", style: "width: 100%") do |form| %>
                      <%= form.hidden_field :login, value: friend.login %>
                      <%= form.button class: "button", type: "submit" do %>
                        Usuń ze znajomych
                      <% end %> 
                    <% end %>
                  </div>
                <% end %>
              </div>
          <% else %>
            <p class="is-size-3">Brak znajomych na liście.</p>
          <% end %>
        <% end %>
      </div>
    <div>

  <% else %>
    <div class="is-flex is-align-items-center is-justify-content-center" style="height: 100%; width: 100%;">
      <span class="is-size-1">
        Użytkownik <%= params[:login] %> nie istnieje!
      </span>
    </div>
  <% end %>
</div>