<div class="is-flex is-flex-direction-column is-align-items-center p-0 m-0">
    <%= link_to "Wróć do strony głównej", "/forum", class: "has-text-grey-lighter" %>
    
    <%= render "form", error: @error.present? ? @error : nil %>
    <div>
        <span>Nie masz konta?</span>
        <%= link_to "Zarejestruj się", "register", class: "has-text-warning" %>
    </div>
</div>