.is-full-size {
    height: 100%;
    width: 100%;
}

.is-full-width {
    width: 100%;
}

.is-full-height {
    height: 100%;
}

.is-standard-width {
    width: 960px;
}

.is-80percent-width {
    width: 80%;
}

.has-background-transparent {
    background-color: transparent;
}
