<%= form_with(url: register_path, method: "post", class: "has-background-black-ter box is-flex is-flex-direction-column is-align-items-center my-3 is-rounded is-standard-width") do |form| %>
    <div class="field is-80percent-width mb-4">
        <p class="control has-icons-left">
              <%= form.text_field :login, class: "input is-medium", placeholder: "Wprowadź login", required: true %>
              <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
              </span>
        </p>
    </div>

    <div class="field is-80percent-width mb-4">
        <p class="control has-icons-left">
              <%= form.email_field :email, class: "input is-medium", placeholder: "Wprowadź email", required: true %>
              <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
              </span>
        </p>
    </div>

    <div class="field is-80percent-width mb-4">
        <p class="control has-icons-left">
              <%= form.password_field :password, class: "input is-medium", placeholder: "Wprowadź hasło", required: true %>
              <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
              </span>
        </p>
    </div>

    <div class="field is-80percent-width mb-4">
        <p class="control has-icons-left">
              <%= form.password_field :repeat_password, class: "input is-medium", placeholder: "Powtórz hasło", required: true %>
              <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
              </span>
        </p>
    </div>

    <% if error %>
        <p class="has-text-centered mb-4 has-text-danger"><%= error %></p>
    <% end %>

    <div class="field">
        <div class="control">
              <%= form.submit "Zarejestruj się", class: "button is-primary is-medium" %>
        </div>
    </div>
<% end %>
