<div class="is-flex is-flex-direction-column is-align-items-center p-0 m-0">
    <%= link_to "Wróć do strony głównej", "/forum", class: "has-text-grey-lighter" %>
    
    <%= render "form", error: @error.present? ? @error : nil %>
    
    <div>
        <%= link_to "Zaloguj się", "login", class: "has-text-warning" %>
        <span>, jeżeli posiadasz już konto!</span>
    </div>
</div>
