<aside class="menu border-right p-3 is-size-6">
  <p class="menu-label has-text-white mb-2 has-text-weight-bold">
    Wybierz
  </p>

  <ul class="menu-list">
    <li class="mb-1">
      <%= link_to forum_index_path, class: "button is-ghost has-text-white px-3 py-0" do %>
        <span class="icon mr-1">
          <i class="fas fa-comments"></i>
        </span>
        <span>Forum</span>
      <% end %>
    </li>

    <% if session[:user].present? %>
      <% login = session[:user]['login'] %>
      <li class="mb-1">
        <%= link_to user_profile_path(login), class: "button is-ghost has-text-white px-3 py-0" do %>
        <span class="icon mr-1">
            <i class="fas fa-sign-in-alt"></i>
        </span>
        <span><%= login %></span>
        <% end %>
      </li>
      <li class="mb-1">
        <%= form_tag(user_logout_path, method: :post) do %>
          <button type="submit" class="button is-ghost has-text-white px-3 py-0">
            <span class="icon mr-1">
              <i class="fas fa-power-off"></i>
            </span>
            <span>Wyloguj</span>
          </button>
        <% end %>
      </li>
    <% else %>
      <li class="mb-1">
        <%= link_to "login", class: "button is-ghost has-text-white px-3 py-0" do %>
          <span class="icon mr-1">
            <i class="fas fa-sign-in-alt"></i>
          </span>
          <span>Logowanie</span>
        <% end %>
      </li>

      <li class="mb-1">
        <%= link_to "register", class: "button is-ghost has-text-white px-3 py-0" do %>
          <span class="icon mr-1">
            <i class="fas fa-user-plus"></i>
          </span>
          <span>Rejestracja</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</aside>