<!DOCTYPE html>
<html class="has-background-grey-darker">
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bulma@latest/css/bulma.min.css" %>
    <%= stylesheet_link_tag"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
			html,
			body {
				height: 100%;
				width: 100%;
				margin: 0;
				padding: 0;
				overflow: hidden;
			}
    </style>
  </head>

  <body class="columns p-0 m-0 is-family-primary" style="height: 100%;">
    <div class="column p-0 m-0 is-narrow has-background-black-ter">
      <%= render 'layouts/navlist' %>
    </div>

    <div class="column p-0 m-0 is-flex is-justify-content-center is-align-items-center" style="width: 100%; height: 100%; overflow-y: auto">
      <%= yield %>
    </div>
  </body>
</html>
